body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  background-attachment: fixed;
  padding: 50px;
  background-repeat: no-repeat;
}


.team-page {
  text-align: center;
}

.team-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  /* animation: fadeIn 2s ease-in-out; */
  font-size: 39px;
  letter-spacing: 7px;
  font-weight: bold;
  font-family: "Tulpen One", sans-serif;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

h1 {
  animation: slideInRight 1s ease-out;
}
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

h1 {
  animation: scaleUp 0.8s ease-out;
}
