*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
   .team-member-card {
    width: 300px;
    height: 450px;
    perspective: 1000px;
    margin: 20px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.team-member-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.card-front {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-back {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: #333;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-member-image {
    width: 100%;
    height: 325px; 
    object-fit: cover;
}
.team-member-card h3 {
    font-size: 25px;
    color: #333;
}

.team-member-card p {
    color: #000;
    font-size: 18px;
    padding: 0 10px;
}
